target
**/target/
**/*/target/
gwic-rest/src/main/webapp/
!gwic-rest/src/main/webapp/WEB-INF/

## Database migration ##
!/gwic-rest/target/classes/database/oracle/migration/

### STS ###
.project
**/.project
.classpath
**/.classpath
.settings/
**/.settings/
.apt_generated
.factorypath
.springBeans
/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/