target
**/target/
**/*/target/
tawassol-rest/src/main/webapp/
!tawassol-rest/src/main/webapp/WEB-INF/

## Database migration ##
!/tawassol-rest/target/classes/database/oracle/migration/

### STS ###
.project
**/.project
.classpath
**/.classpath
.settings/
**/.settings/
.apt_generated
.factorypath
.springBeans
/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_1.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_10.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_2.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_3.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_4.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_8.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_5.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_6.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_9.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/business.layer.log
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/workflow.log
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/application.log_7.zip
tawassol-rest/tawassol.logging.application.directory_IS_UNDEFINED/interceptors-resources.log
tawassol-rest/tawassol.logging.mail.directory_IS_UNDEFINED/cache.log
tawassol-rest/tawassol.logging.mail.directory_IS_UNDEFINED/mail.log
